<!Doctype html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
      
<head th:replace="common/template :: common-header"></head>
<body>

	<div th:replace="common/template :: navbar"></div>
	
	<div class="container">
		<div class="jumbotron text-center" >
			<h1>Spring Boot + Spring Data JPA & Hibernate+ CRUD + ThymeLeaf + HikariCP +
				MySQL</h1>
			<hr class="my-4">
			<p class="lead">This example is a quick exercise to practice -- <br/>
				Spring Boot <br/> Spring Data JPA & Hibernate <br/> CRUD Repository <br/>
				ThymeLeaf <br/> HikariCP <br/> MySQL</p>
		</div>
	</div>
	
	<div th:replace="common/template :: body-bottom-scripts"></div>
	
</body>
</html>